<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Oregon Beaches</title>
		<link rel="stylesheet" href= "{{ url_for('static',filename='styles/main.css') }}">
</head>
<body>
  <div id="header">
    <ul>
      <li><a href="/contact/">Contact</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/">Home</a></li>
      <li class="clear"></li>
    </ul>
  </div>
  <div id="title">Beaches of Oregon Coast</div>
  <div id="article" class="border box">
    <div class="title1">About</div>
    <div class="title2"> - Beaches Searching</div>
    <img class="logo" src="http://www.gonorthwest.com/Oregon/images_or/map-coast.gif" alt="logo">
    <div class="introduction">
      <div class="information">For this website, user could use the search bar to find all the beaches in Oregon Coast, include their names, pictures, countries, types, locations, access types, path informations, managed by, parking, fee, bathrooms and so on. Each beach data included in this website in detailed. Our goal is make user to find beach they want to go easier.</div>
    </div>
    <div class="clear"></div>
  </div>
  <div id="footer">
      <span>All images are copyright to their owners. This is just a hypothetical site &copy; 2018 Copyright Art Store</span>
  </div>
</body>
</html>>
