<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Oregon Beaches</title>
		<link rel="stylesheet" href= "{{ url_for('static',filename='styles/main.css') }}">
</head>
<body>
  <div id="header">
    <ul>
      <li><a href="/contact/">Contact</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/">Home</a></li>
      <li class="clear"></li>
    </ul>
  </div>
  <div id="title">Beaches of Oregon Coast</div>
  <div id="article" class="border box">
    <div class="title1">Contact Us</div>
    <div class="title2"> - Team Surfer</div>
    <img class="logo" src="http://eecs.oregonstate.edu/sites/eecs.oregonstate.edu/files/images/solar_sonant.jpg" alt="logo">
    <div class="introduction">
      <div class="information">Team Surfer is located in Kelly Electrical Engineering and Computer Science building, room 1003. This team include 3 team members and each person have their own duty.</div>
      <div class="title border underline box">Team Member Details</div>
        <table>
          <tr>
              <td>Class:</td>
              <td>CS340</td>
          </tr>
          <tr>
              <td>Diana Oppenheimer:</td>
              <td><a href="#personal_page">oppenhed@oregonstate.edu</td>
          </tr>
          <tr>
              <td>Mingyu Zhang:</td>
              <td><a href="#personal_page">zhangm4@oregonstate.edu</td>
          </tr>
          <tr>
              <td>Zijian Huang:</td>
              <td><a href="#personal_email">huangzi@oregonstate.edu</a></td>
          </tr>
        </table>
    </div>
    <div class="clear"></div>
  </div>
  <div id="footer">
      <span>All images are copyright to their owners. This is just a hypothetical site &copy; 2018 Copyright Art Store</span>
  </div>
</body>
</html>>
