<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href= "{{ url_for('static',filename='styles/main.css') }}">
		<title>Detial</title>
	</head>
	<body>
		<div>
			<P>Access_Name: {{r0}} </p>
			<P>URL: {{r1}} </p>
			<P>imgURL: {{r2}} </p>
			<P>County: {{r3}}</p>
			<P>Type: {{r4}}  </p>
			<P>Location: {{r5}} </p>
			<P>Access_Type: {{r6}}</p>
			<P>Path_to_Beach: {{r7}}  </p>
			<P>Managed_by: {{r8}}  </p>
			<P>Parking: {{r9}} </p>
			<P>Fee: {{r10}} </p>
			<P>Bathrooms: {{r11}}  </p>
			<P>Handicap_Access: {{r12}}  </p>
			<P>Running_Water: {{r13}}  </p>
			<P>Showers: {{r14}}  </p>
			<P>Camp_Sites: {{r15}} </p>
			<p>Stairs_to_Beach: {{r16}} </p>
			<p>Boat_Ramps: {{r17}} </p>
			<p>Tidepooling: {{r18}} </p>
			<p>Surfing: {{r19}} </p>
			<p>Hiking: {{r20}} </p>
			<p>Bicycling: {{r21}} </p>
			<p>Horseback_Riding: {{r22}} </p>
			<p>Road_Vehicle_Access: {{r23}} </p>
			<p>Whale_Watching: {{r24}} </p>
		</div>
		<a href="/my-link/">Hello World</a>
	</body>
</html>
