<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href= "{{ url_for('static',filename='styles/main.css') }}">
		<title>Detial</title>
	</head>
	<body>
		<div id="header">
			<ul>
				<li><a href="contact.html">Contact</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="welcome_page.html">Home</a></li>
				<li class="clear"></li>
			</ul>
		</div>
		<div id="title">Beaches of Oregon Coast</div>
		<table background-color="white">
			<tr>
			<th>You have search for</th>
			<th> {{r0}} </th>
		</tr>
			<tr>
				<td>County</td>
				<td>{{r3}}</td>
			</tr>
			<tr>
				<td>Type</td>
				<td>{{r4}}  </td>
			</tr>
			<tr>
				<td>Location</td>
				<td>{{r5}} </td>
			</tr>
			<tr>
				<td>Access_Type</td>
				<td>{{r6}}</td>
			</tr>
			<tr>
			<td>Path_to_Beach</td><td>{{r7}}</td>
			</tr>
			<tr>
				<td>Managed_by</td>
				<td>{{r8}} </td>
			</tr>
			<tr>
				<td>Parking</td>
				<td>{{r9}}</td>
			</tr>
			<tr>
				<td>Fee</td>
				<td>{{r10}} </td>
			</tr>
			<tr>
				<td>Bathrooms</td>
				<td>{{r11}}</td>
			</tr>
			<tr>
				<td>Handicap_Access</td>
				<td>{{r12}}</td>
			</tr>
			<tr>
				<td>Running_Water</td>
				<td>{{r13}}</td>
			</tr>
			<tr>
				<td>Showers</td>
				<td>{{r14}} </td>
			</tr>
			<tr>
				<td>Camp_Sites</td>
				<td>{{r15}} </td>
			</tr>
			<tr>
				<td>Stairs_to_Beach</td>
				<td>{{r16}} </td>
		</tr>
		<tr>
			<td>Boat_Ramps</td>
			<td>{{r17}}</td>
		</tr>
		<tr>
			<td>Tidepooling</td>
			<td>{{r18}}</td>
		</tr>
		<tr>
			<td>Surfin</td>
			<td>{{r19}}</td>
		</tr>
		<tr>
			<td>Hiking</td>
			<td>{{r20}}</td>
		</tr>
		<tr>
			<td>Bicycling</td>
			<td>{{r21}}</td>
		</tr>
		<tr>
			<td>Horseback_Riding</td>
			<td>{{r22}}</td>
		</tr>
		<tr>
			<td>Road_Vehicle_Access</td>
			<td>{{r23}}</td>
		</tr>
		<tr>
			<td>Whale_Watching</td>
			<td>{{r24}}</td>
		</tr>
		</table>
		<form method="post" action="{{ url_for('index') }}">
			<input type="submit" value="Return" />
		</form>
	</body>
</html>
