<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Oregon Beaches</title>
  <link rel="stylesheet" href= "{{ url_for('static',filename='styles/main.css') }}">
</head>
<body>
  <div id="header">
    <ul>
      <li><a href="/contact/">Contact</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/">Home</a></li>
      <li class="clear"></li>
    </ul>
  </div>
  <div id="title">Beaches of Oregon Coast</div>
  <ul id="menu" class="border">
    <form method="get" action="{{ url_for('results') }}">
      <label for="searchterm">What beach do you want to search for:</label>
      <select type="text" name="searchterm">
        <option selected="selected" value="Access_Name">Beach</option>
        <option value ="Access_Name" >Access Name</option>
        <option value ="County">County</option>
        <option value ="Type">Type</option>
        <option value ="Location">Location</option>
      </select>
      <input type="text" name='searchitem'/>
      <input type="submit" value="Search" />
    </form>
  </ul>
</body>
